<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagem para Documento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Converta sua imagem em um documento editável</h1>
        <form action="/upload_image" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">Converter</button>
        </form>
        <br>
        <a href="{{ url_for('index') }}" class="back-link">Voltar para o Início</a>
    </div>
    <div class="footer">
        <img src="{{ url_for('static', filename='images/ifms_logo.png') }}" alt="Logo IFMS" class="logo">
    </div>
</body>
</html>
